{cover_enabled, true}.
{deps, [
	{quoted, "1.0.3",
		{git, "git://git.corp.smarkets.com/quoted.erl.git", {tag, "1.0.3"}}},
	{proper, ".*",
		{git, "git://git.corp.smarkets.com/proper.git", {branch, "master"}}}
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
	warnings_as_errors,
	warn_export_all
]}.
